streamlit
fastapi
uvicorn
requests
supabase
streamlit-cookies-controller
numpy
opencv-python-headless
torch --index-url https://download.pytorch.org/whl/cpu
yt-dlp
openai-whisper
moviepy==2.1.1
