--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1+cpu
opencv-python-headless
fastapi
uvicorn
requests
supabase
streamlit-cookies-controller
numpy
yt-dlp
whisper-timestamped
moviepy
