setuptools
moviepy==1.0.3
imageio==2.34.0
imageio-ffmpeg==0.5.1
openai-whisper
yt-dlp
torch
numpy
opencv-python-headless
streamlit-cookies-controller
requests
supabase
postgrest
deprecat
